<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Expanding cards</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    
    <div class="container">
        <div class="pannels active" style="background-image:url(https://images.unsplash.com/photo-1659735898324-7314e6f00490?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZXhwbG9yZSUyMHdvcmxkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60);">
            <h3>EXPLORE WORLDS</h3>
        </div>
        <div class="pannels" style="background-image:url(https://images.unsplash.com/photo-1675256111875-a9d1b8838189?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZXhwbG9yZSUyMHdvcmxkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60);">
            <h3>SUNNY BITCH</h3>
        </div>
        <div class="pannels" style="background-image:url(https://images.unsplash.com/photo-1658270317429-04e0fbab6e06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZXhwbG9yZSUyMHdvcmxkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60);">
            <h3> CITY ON WINTER</h3>
        </div>
        <div class="pannels" style="background-image:url(https://images.unsplash.com/photo-1665110627445-3ebf431ff046?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZXhwbG9yZSUyMHdvcmxkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1600&q=60);">
            <h3>MOUNTAIN CLOUDS</h3>
        </div>
        <div class="pannels" style="background-image:url(https://images.unsplash.com/photo-1664883908473-ef57dc0e21a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGV4cGxvcmUlMjB3b3JsZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1600&q=60);">
            <h3>WILD FOREST</h3>
        </div>
    </div>
    
    
    <script src="../js/script.js"></script>

</body>

</html>